@media print {
    @page  {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.not-print {
	display: none;
}

.description-combo {
  -moz-appearance: none;
  -webkit-appearance: none;
}

.discount-combo {
  -moz-appearance: none;
  -webkit-appearance: none;
}

.receipt-client {
  padding-top: 50px;
  text-align: center;
  page-break-after: always;
}

.receipt-business {
  padding-top: 50px;
}

.copy {
  padding-top: 10px;
  text-align: center;
  color: red;
}


/****************/
/* receipt tyle */
/****************/

.receipt-client {
  display: grid;
  grid-column-gap: 6px;
  width: 880px;
  padding-top: 10px;
}

.rec-header {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-column-gap: 30px;
  width: 880px;
  padding-top: 10px;
}

.item-logo {
  grid-column: 1;
  grid-row: 1 / span 2;
  text-align: left;
  width: 150px;
  padding-bottom: 10px;

}

img.logo {
  width: 150px;
  height: 150px;
}

.name-rfc-address{
  grid-column: 2;
  grid-row: 1;
  width: 275px;
}
.name-rfc {
  text-align: center;
  font-size: 85%;
  border-bottom-style: dotted;
  border-bottom-color: blue;
  text-align: center;
  padding-bottom: 10px;
}

.address {
  font-size: 85%;
  padding-top: 5px;
  text-align: center;
  padding-top: 10px;
}

.rfc-tel {
  grid-column: 3 / span 2;
  grid-row: 1;
  width: 275px;
}
.rfc {
  font-size: 85%;
  border-bottom-style: dotted;
  border-bottom-color: blue;
  text-align: center;
  padding-bottom: 10px;
}

.tel {
  font-size: 85%;
  padding-top: 5px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.rfc-gap {
  grid-column: 5;
  grid-row: 1;
  width: 150px;
}
.receipt-title-gap {
  grid-column: 2 / span 2;
  grid-row: 2;
  width: 420px;
}

.receipt-title-number {
  grid-column: 4;
  grid-row: 2;
  width: 246px;
  border: solid blue;
  border-width: 2px 2px 1px 2px;
  border-radius: 10px 10px 10px 10px;
}

.receipt-title {
  letter-spacing: 3px;
  text-align-last: center;
  background: rgb(153, 204, 255);
  border-radius: 10px 10px 0px 0px;
  border-bottom: solid;
  border-bottom-color: blue;
  border-bottom-width: 1px;
  padding-top: 10px;
  height: 30px;
}

.receipt-number {
  vertical-align: middle;
  padding-top: 10px;
  color: red;
  font-size: 140%;
  text-align: center;
  height: 25px;
}

.rec-name-date {
  grid-column: 1;
  grid-row: 2;
  width: 876px;
  border: solid blue;
  border-width: 2px 2px 1px 2px;
  border-radius: 10px 10px 0px 0px;
  grid-gap: 0px;
  display: grid;
}

.client-name-cell {
  grid-column: 1;
  grid-row: 1;
  width: 564px;
  height: 45px;
  padding-left: 10px;
  text-align: left;
  border-right: solid blue;
  border-right-width: 2px;
}

.client-name-field {
  font-size: 16px;
  border: none;
  width: 550px;
  padding-top: 4px;
}

.date-cell {
  grid-column: 2;
  grid-row: 1;
  width: 290px;
  height: 45px;
  text-align: left;
  padding-left: 10px;
}

.date-field {
  text-align: center;
  border: none;
  font-size: 16px;
  text-align: center;
  width: 276px;
  padding-top: 4px;
}

.rec-items {
  grid-column: 1;
  grid-row: 3;
  width: 876px;
  border: solid blue;
  border-width: 1px 2px 1px 2px;
  border-radius: 0px 0px 10px 10px;
  display: grid;
}

.rec-quantities {
  grid-column: 1;
  text-align: left;
  border-right: solid blue;
  border-right-width: 1px;
  width: 75px;
}

.quantity-cell {
  width: 70px;
  padding-left: 5px;
  height:25px;
}

.quantity-last-cell {
  border-radius: 0px 0px 0px 10px;
}

.quantity-field {
  width: 65px;
  border: none;
  font-size: 16px;
  text-align: center;
  padding-top: 4px;
}

.rec-items-desc {
  grid-column: 2;
  text-align: left;
  border-right: solid blue;
  border-right-width: 1px;
  width: 559px;
}

.des-title-cell {
  padding-left: 10px;
  text-align: left;
  height:25px;
}

.description-cell {
  padding-left: 10px;
  height:25px;
}

.description-combo {
  width: 539px;
  font-size: 16px;
  border: none;
  padding-top: 4px;
}

.rec-items-price {
  grid-column: 3;
  width: 118px;
  border-right: solid blue;
  border-right-width: 2px;
}

.price-title-cell {
  text-align: left;
  padding-left: 10px;
  height:25px;
}

.price-cell {
  height:25px;
  padding-left: 10px;
  padding-right: 10px;
}
.price-field {
  width: 94px;
  border: none;
  font-size: 16px;
  text-align: right;
  padding-top: 4px;
}

.rec-item-charge {
  grid-column: 4;
  width: 120px;
}

.charge-title-cell {
  text-align: left;
  padding-left: 10px;
  height:25px;
}

.charge-cell {
  padding-left: 10px;
  padding-right: 10px;
  height:25px;
}

.charge-field {
  width: 100px;
  border: none;
  font-size: 16px;
  text-align: right;
  padding-top: 2px;
}

.charge-last-cell {
  border-radius: 0px 0px 10px 0px;
}

.with-fill {
  #background: rgb(204, 229, 255);
}

.rec-disc-subtotal {
  grid-column: 1;
  grid-row: 4;
  width: 876px;
  display: grid;
  border: solid blue;
  border-width: 1px 2px 1px 2px;
  border-radius: 10px 10px 10px 10px;
}
.rec-discount {
  grid-column: 1;
  text-align: left;
  border-right: solid blue;
  border-right-width: 1px;
  width: 635px;
}

.discount-title-cell {
  padding-left: 10px;
  height: 25px;
}

.discount-cell {
  padding-left: 10px;
  height: 30px;
}

.discount-combo {
  width: 615px;
  font-size: 16px;
  border: none;
}

.rec-subtotal {
  grid-column: 2;
  text-align: right;
  border-left: solid blue;
  border-left-width: 1px;
  width: 239px;
  display: grid;
}

.subtotal-tittle-charge-cell {
  grid-column: 1;
  grid-row: 1;
  text-align: right;
  height:25px;
  width: 109px;
  padding-right: 10px;
  font-size: 16px;
}

.subtotal-charge-cell {
  grid-column: 2;
  grid-row: 1;
  text-align: right;
  height:25px;
  width: 110px;
  font-size: 18px;
  padding-right: 10px;
}

.discount-tittle-charge-cell {
  grid-column: 1;
  grid-row: 2;
  text-align: right;
  width: 109px;
  padding-right: 10px;
  font-size: 15px;
  height: 25px;
}

.discount-charge-cell {
  grid-column: 2;
  grid-row: 2;
  width: 110px;
  text-align: right;
  padding-right: 10px;
  font-size: 16px;
}

.rec-total {
  grid-column: 1;
  grid-row: 5;
  width: 876px;
  display: grid;
  border: solid blue;
  border-width: 1px 2px 2px 2px;
  border-radius: 10px 10px 10px 10px;
}

.rec-letter-cell {
  grid-column: 1;
  text-align: left;
  border-right: solid blue;
  border-right-width: 2px;
  width: 635px;
  display: grid;
}

.total-title-letter-cell {
  grid-column: 1;
  grid-row: 1;
  text-align: left;
  padding-left: 10px;
}

.total-letter-cell {
  grid-column: 1;
  grid-row: 2;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  height: auto;
}

.total-letter-field {
  border: none;
  padding-top: 5px;
  font-size: 16px;
  text-align: left;
  text-transform: lowercase;
}

.total-letter-field:first-letter {
  text-transform: uppercase;
}

.rec-total-cell {
  grid-column: 2 ;
  width: 239px;
  display: grid;
  height: 50px;
}

.total-tittle-charge-cell {
  grid-column: 1 ;
  font-size: 20px;
  width: 109px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.total-charge-cell {
  grid-column: 2 ;
  padding-right: 10px;
  line-height: 50px;
  width: 110px;
  text-align: right;
}

.total-charge-field {
    border: none;
    font-size: 20px;
    text-align: right;
}

/*format busines receipt */

.receipt-business {
  display: grid;
  grid-column-gap: 6px;
  width: 880px;
  padding-top: 10px;
}

.bus {
  padding-left: 2px;
  padding-top: 2px;
}


/*****************/
/*format buttons */
/*****************/

.buttons {
  grid-column: 1;
  grid-row: 6;
  display: grid;
  /*grid-gap: 5px;*/
  grid-column-gap: 0px;
  /*background-color: #2196F3;*/
  width: 877px;
  text-align: center;
  padding-top: 20px;
}

.button {
  padding: 15px 25px;
  color: #fff;
  background-color: #0066CC;
  outline: none;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: #004C99
}

.button[disabled]:hover {
  background-color: #D9E8F7
}

.button:disabled {
  background-color: #D9E8F7
}

.button:active {
  background-color: #004C99;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button-clear {
  grid-column: 1 ;
  grid-row: 1;
  text-align: center;
}

.button-folio {
  grid-column: 2 ;
  grid-row: 1;
  text-align: center;
}

.button-print {
  grid-column: 3 ;
  grid-row: 1;
  text-align: center;
}
